<h1>SozioLog</h1>
<p>
  Welcome to the world of societal memberships.
</p>

<p>
  From here you can access
  <ul>
    <li>
      the <%= link_to 'members', members_path %> of the IMS ...
    </li>
  </ul> 
</p>
