<h1>Welcome ...</h1>
<p>
  ... to the world of the Irish Mathematical Society.
</p>

<p>
  From here you can access
  <ul>
    <li>
      the <%= Member.count %> <%= link_to 'members', members_path %> of the IMS ...
    </li>
    <li>
      the <%= Conference.count %> <%= link_to 'conferences', conferences_path %> receiving funding from the IMS ...
    </li>
  </ul> 
</p>
