<h1>SozioLog</h1>
<p>
  Welcome to the world of societal memberships.
</p>

<p>
  From here you can access
  <ul>
    <li>
      the <%= Member.count %> <%= link_to 'members', members_path %> of the IMS ...
    </li>
    <li>
      the <%= Member.find_all_by_email("").count %> <%= link_to 'members', members_path(:email => "") %> without email.
    </li>
  </ul> 
</p>
