// Place all the styles related to the doctorates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div .year {
    font-weight: bold;
    float: left;
}
.year-list {
    margin: 0px;
    list-style-type: none;
    a {
	text-decoration: none;
    }
}
