<h1>Categories</h1>

<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td align="right"><%= category.rank %></td>
    <td><%= link_to category.name, category %></td>
    <td><%= category.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
